{% extends 'stock_app/base.html' %}
{% load humanize %}

{% block content %}

<h1 div class = 'heading'>Simple Stock Exchange</h1>
<h3 div class = "center blue">{{message}}</h3>
<br/>
<div>
  <div class = 'col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1'>
    <form action = '/symbol' input = 'GET'>
      <strong>Stock Symbol: <input type = 'text' name = 's'></strong>
      <input type = 'submit'>
    </form>
    <br/>
    {%if name %}
      <h4>Stock Name: {{name}} ({{symbol}})</h4>
      <table div class = 'table price'>
        <th>Bid</th>
        <th>Ask</th>
        <tr>
          <td>{{bid|floatformat:2|intcomma}}</td>
          <td>{{ask|floatformat:2|intcomma}}</td>
        </tr>
      </table>      
      <form action = '/buy' input = 'GET'>
        Quantity: <input type = 'integer' name = 'q'>
        <input type = 'Submit' value = 'BUY' name = 'buy'>
        <input type = 'Submit' value = 'SELL' name = 'sell'>
      </form>
    {% endif %}
  </div>
  <div class = 'col-md-5 col-lg-5'>
    <h4>Current Portfolio</h4>
    <h4>Cash: ${{money|floatformat:2|intcomma}}</h4>
      <table div class = 'table stocks'>
        <th>Company</th>
        <th>Quantity</th>
        <th>Price Paid</th>
        {% for  company in stocks.items %}
          {% for key in company %}
            {% if key.name %}
              <tr>
                <td>{{key.name}}</td>
                <td>{{key.quantity}}</td>
                <td>${{key.price|floatformat:2|intcomma}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </table>
  </div>
</div>

{% endblock %}